@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

.header {
  margin-left: 15%;
  margin-right: 15%;
  height: 60px;
}

.header-logo {
  height: 60px;
  width: 50%;
  display: inline-block;
}

.header-logo img {
  padding-top: 13px;
  padding-left: 20px;
}

.header-menu {
  float: right;
  height: 60px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #49d9ba;
}

.header-menu a {
  text-decoration: none;
  color: #49d9ba;
  font-weight: bold;
}

.header-menu a:hover {
  color: #7af2b7;
}

.header-menu ul {
  margin-top: 15px;
  list-style-type: none;
  padding: 0;
}

.header-menu li {
  padding-left: 40px;
  display: inline;
}

.content {
  border-top: 1px solid #f3f3f3;
}

.search-artist {
  max-height: 100%;
  background: rgb(122,242,183);
  background: linear-gradient(90deg, rgba(122,242,183,1) 0%, rgba(73,217,186,1) 100%);
  width: 100%;
}

.vis-active:focus {
    outline: none;
}

.vis-network {
  outline: none;
}

.particles-js-canvas-el {
  outline: none;
  height: 500px !important;
}

div#cellBatchAttrPopUp {
  font-family: 'Open Sans', sans-serif;
  display: none;
  position: absolute;
  width: 200px;
  height: 500px;
  z-index: 2000;
  color: #333;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  background-color: #fff;
  color: #000;
}

.pop-up-title {
  font-size: 12px;
  color: #26a084;
  border-bottom: 1px solid #eaeaea;
  padding: 8px;
}

.pop-up-title .fas {
  margin-right: 5px;
}

.pop-up-profile-image {
  position: relative;
  width: 100px;
  margin-left: 48px;
  margin-top: 10px;
}

.pop-up-profile-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.pop-up-profile-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.pop-up-profile-text {
  white-space: normal;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #efefef;
  color: #2a564c;
}

.pop-up-profile-text p {
  padding: 0px;
  margin: 0px;
}

.close-pop-up {
  display: inline-block;
  float: right;
  color: #26a084;
}

.close-pop-up:hover {
  color: #156956;
}

.search-form {
  margin-left: Calc(50% - 210px);
  margin-top: 170px;
  width: 400px;
  position: absolute;
}

.artist-search-text {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #26a084;
  padding-left: 60px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.artist-search-input {
  display: inline-block;
  float: left;
  width: Calc(100% - 80px);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 5px 10px;
  color: #b4d6ce;
  font-size: 1.6rem;
  font-weight: inherit;
  line-height: .4;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: box-shadow 300ms;
}

::placeholder {
  color: #dbece8;
}

.artist-search-input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #38b197;
}

.artist-search-button {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  height: 45px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #26a084;
  color: #e5fff3;
  width: 60px;
  cursor: pointer;
}

.artist-search-button:hover {
  background-color: #33b194;
}

.artist-search-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #bcffdf;
  margin: auto;
  margin-toP: 5px;
  text-align: right;
  margin-right: 3px;
}

.artist-tree {
  background: rgb(122,242,183);
  background: linear-gradient(90deg, rgba(122,242,183,1) 0%, rgba(73,217,186,1) 100%);
  width: 100%;
  height: 500px;
  border: 1px solid lightgray;
}

.info-section {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  color: #33b194;
}

.info-section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.info-header {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  color: #26a084;
}

.info-panel-body {

}

.info-panel-body {
  margin-bottom: 10px !important;
  color: #b9b9b9;
  font-size: 12px;
}

.info-panels {
  max-width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info-panel-1 {
  background-color: #f7f7f7;
  position: relative;
  width: calc(32% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
}

.info-panel-1 img {
  max-width:100%;
max-height:100%;
}

.info-panel-2 {
  background-color: #f7f7f7;
  position: relative;
  width: calc(32% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
}

.info-panel-2 img {
  max-width:100%;
  max-height:100%;
}

.info-panel-3 {
  background-color: #f7f7f7;
  position: relative;
  width: calc(32% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
  box-shadow: 0px 0px 5px 0px rgba(219,219,219,1);
}

.info-panel-3 img {
  max-width:100%;
  max-height:100%;
}

.footer {
  height: 60px;
  background: rgb(122,242,183);
  background: linear-gradient(90deg, rgba(122,242,183,1) 0%, rgba(73,217,186,1) 100%);
}

.footer p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.footer a {
  color: #26a084;
  text-decoration: none;
}

.footer a:visited {
  color: #26a084;
  text-decoration: none;
}

.footer a:link {
  color: #26a084;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: calc(50% - 20px);
  margin-top: 20px;
}

.lds-roller-status {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  color: #39af94;
  margin-top: 0px;
  font-size: 12px;
  font-style: italic;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
