@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

.header {
  margin-left: 15%;
  margin-right: 15%;
  height: 60px;
}

.header-logo {
  padding-top: 13px;
}

.search-artist {
  max-height: 100%;
  background: rgb(122,242,183);
  background: linear-gradient(90deg, rgba(122,242,183,1) 0%, rgba(73,217,186,1) 100%);
  width: 100%;
}

.particles-js-canvas-el {
  height: 500px !important;
}

.search-form {
  margin-left: Calc(50% - 200px);
  margin-top: 170px;
  width: 400px;
  position: absolute;
}

.artist-search-text {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #26a084;
  padding-left: 60px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.artist-search-input {
  display: inline-block;
  float: left;
  width: Calc(100% - 80px);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 5px 10px;
  color: #b4d6ce;
  font-size: 1.6rem;
  font-weight: inherit;
  line-height: .4;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: box-shadow 300ms;
}

::placeholder {
  color: #dbece8;
}

.artist-search-input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #38b197;
}

.artist-search-button {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  height: 45px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #26a084;
  color: #e5fff3;
  width: 60px;
  cursor: pointer;
}

.artist-search-button:hover {
  background-color: #33b194;
}

.artist-search-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #bcffdf;
  margin: auto;
  margin-toP: 5px;
  text-align: right;
  margin-right: 3px;

}

.artist-tree {
  background: rgb(122,242,183);
  background: linear-gradient(90deg, rgba(122,242,183,1) 0%, rgba(73,217,186,1) 100%);
  width: 100%;
  height: 500px;
  border: 1px solid lightgray;
}
